[run]
source = src/yuleosh
branch = true

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError

[paths]
source =
    src/yuleosh
    */site-packages/yuleosh
